<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--student模块的所有bean声明-->
    <bean id="Student" class="org.example.ba06.Student" autowire="byType"><!--这儿的autowire=byName等于下面注释掉的ref=“school”-->
        <property name="name" value="Lucca"/>
        <property name="age" value="22"/>
    </bean>
    </beans>